<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978942323243-p1dm2d0e8iadbm8b0b9rq9t4a135ajdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978942323243-p1dm2d0e8iadbm8b0b9rq9t4a135ajdi</string>
	<key>API_KEY</key>
	<string>AIzaSyCPOP-HlmTbgJ8TFu5ESgzlbR5zQlUC5EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>978942323243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motoharu.PracticeFirebase</string>
	<key>PROJECT_ID</key>
	<string>practicefirebase-7ef4b</string>
	<key>STORAGE_BUCKET</key>
	<string>practicefirebase-7ef4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:978942323243:ios:665d2c5801300f879a986e</string>
</dict>
</plist>
